<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/landing.css">
    <title>Document</title>
</head>
<body>
    <section id="landing">
        <h1>Bienvenido a Gusteau's</h1>
        <button type="button" id="enter" onclick="window.location.href='/registro'">Registrar Platillo</button>
    </section>
</body>
</html>